<?xml version="1.0"?>
<launch>
    <node pkg = "tf2_ros" type = "static_transform_publisher" name = "map_joint" 
        args = "odomPose_x  odomPose_y  odomPose_z  odomPose_roll  odomPose_pitch  odomPose_yaw   map   odom"/>
    <node pkg = "quetzalcoders_autonomousnavigation_puzzlebot" 
        type = "puzzlebot_odometry.py" name = "puzzlebot_odometry"/>
    <node pkg = "quetzalcoders_autonomousnavigation_puzzlebot" 
        type = "wheelsMovement.py" name = "wheelsMovement"/>
    <node pkg = "quetzalcoders_autonomousnavigation_puzzlebot" 
        type = "chassisMovement.py" name = "chassisMovement"/>
</launch>