<?xml version="1.0"?>
<launch>
    <include file = "$(find quetzalcoders_autonomousnavigation_puzzlebot)/launch/include/robot/description.launch"/>
    <!--
    <node name = "spawner" pkg = "gazebo_ros" type = "spawn_robot"
        args = "-urdf -model puzzlebot -param robot_description -x 0.0 -y 0.0 -z 0.0"/>
    -->
</launch>