<?xml version="1.0"?>
<launch>
        <node pkg = "tf2_ros" type = "static_transform_publisher" name = "map_joint" args = "odomPose_x  odomPose_y  odomPose_z  odomPose_roll  odomPose_pitch  odomPose_yaw   map   odom"/>
        <arg name = "quetzalcoders_autonomousnavigation_puzzlebot" default = "$(find quetzalcoders_autonomousnavigation_puzzlebot)/urdf/puzzlebot.urdf"/>
        <param name = "robot_description" command = "cat $(arg quetzalcoders_autonomousnavigation_puzzlebot)" />
        <node pkg = "quetzalcoders_autonomousnavigation_puzzlebot" type = "puzzlebot_odometry.py" name = "puzzlebot_kinematic_model"/>
        <node pkg = "quetzalcoders_autonomousnavigation_puzzlebot" type = "wheelsMovement.py" name = "wheelsMovement"/>
        <node pkg = "quetzalcoders_autonomousnavigation_puzzlebot" type = "chassisMovement.py" name = "chassisMovement"/>
        <node pkg = "robot_state_publisher" type = "robot_state_publisher" name = "continuous_test_pub"/>
        <node name = "joint_state_publisher_gui" pkg = "joint_state_publisher_gui" 
                type = "joint_state_publisher_gui"/>
        <node name = "rviz" pkg = "rviz" type = "rviz" required = "true"/> 
</launch>